* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    background: #aa5e0638;
    color: #1e1f12f1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    background-color: #add8e669 ;
    color: rgb(36, 33, 33);
    padding: 20px 0;
    position: relative;
}

.header .bg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(131, 12, 12);
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: rgba(7, 7, 197, 0.959);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #70220a;
}

#menu {
    display: none;
}

label[for="menu"] {
    display: none;
    cursor: pointer;
}

.submenu {
    position: relative;
}

#carrito {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    background: rgb(168, 174, 199);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    transition: top 0.5s; 
}

#carrito table {
    width: 100%;
}

#carrito th, #carrito td {
    padding: 10px;
    text-align: left;
}

#carrito img {
    width: 50px;
    height: 50px;
}

#vaciar-carrito {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #ee310fd8;
    color: rgba(8, 8, 8, 0.849);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    position: relative;
    z-index: 1;
}

.header-txt h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-1 {
    padding: 10px 20px;
    background: #8084c2;
    color: rgba(230, 224, 224, 0.973);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-1:hover {
    background: #c7cbcc;
}

.circular {
    border-radius: 50%;
}

.relojes {
    padding: 50px 0;
    text-align: center;
}

.relojes h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.relojes p {
    font-size: 18px;
    margin-bottom: 30px;
}

.relojes-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.relojes-1 {
    width: 40%;
    background: white;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 40px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.relojes-1 img {
    width: 200;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 9px;
}

.relojes-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.info {
    background: #333;
    color: white;
    padding: 50px 0;
    position: relative;
}

.info .fondo{ 
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.3;
}

.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.info-img {
    width: 45%;
}

.info-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.info-txt {
    width: 45%;
}

.info-txt h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.info-txt p {
    font-size: 18px;
    margin-bottom: 20px;
}

.products {
    padding: 50px 0;
}

.products h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 22%;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.products-txt h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.products-txt p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.products-txt .precio {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-3 {
    padding: 10px 20px;
    background: #043eaae1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    text-align: center;
}

.btn-3:hover {
    background: #b9b9c7;
}

#load-more {
    padding: 10px 20px;
    background: #1120a8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 200px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
}

#load-more:hover {
    background: #353496;
}

.app {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-txt {
    width: 45%;
}

.app-txt h2 {
    font-size: 36px;
    margin-bottom: 20px;

}

.app-txt p {
    font-size: 18px;
    margin-bottom: 20px;

}

.descarga img {
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
}


.footer {
    background: #c4a9a9;
    color: rgb(165, 134, 134);
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}